#include <wx/msw/wx.rc>

APP_ICON                      ICON "img/app.ico"
SUB_ICON                      ICON "img/sub.ico"

FOLDER_CLOSE          BITMAP "img/folder_close.bmp"
FOLDER_OPEN           BITMAP "img/folder_open.bmp"
TREE_LIST             BITMAP "img/tree_list.bmp"
LIST_VIEW             BITMAP "img/list_view.bmp"
LOG_VIEW              BITMAP "img/log_view.bmp"